<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
<br/>
<p><textarea  style="width:100%; min-height:250px; border: none;" readonly="readonly" >${message.body}</textarea></p>

<br/><br/><br/><br/><br/>
</body>
</html>		