<div
	style='background: #F6F6F6; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; margin: 0; padding: 0;'>
	<table width='100%' cellspacing='0' cellpadding='0' border='0'
		height='100%'>
		<tbody>
			<tr>
				<td valign='top' align='center' style='padding: 20px 0 20px 0'>
					<table width='960' cellspacing='0' cellpadding='10' border='0'
						bgcolor='FFFFFF' style='border: 1px solid #E0E0E0;'>
						<tbody>
							
							<tr>
								<td valign='top'>
									<h1
										style='font-size: 16px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;'>Dear, <span style='color:#3c8dbc'>${user.username}</span></h1>
										<div style='font-size: 12px; line-height: 16px; margin: 0 0 8px 0;'>
											<br/>
											<p> Congratulation !, You created  an new promotion  &nbsp;<span style='color:#3c8dbc'> "${promotions.title}"</span> &nbsp; Successfully. </p><br/>
										    </div>
										<br/>
											Thanks &amp; Regards<br/><br/>
											helpdesk,<br/>
											helpdesk@adminportal.com,<br/>
											
											<br/><br/><br/><br/>
										
								</td>
							</tr>							
							<tr>
								<td style='background-color: #EAEAEA; text-align: center;'><div
										style='font-size: 12px; margin: 0; text-align: center;'>
										Thank you, <strong>Admin Portal</strong>
									</div></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>