<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	  http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/tx   http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/context	http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/data/jpa 	http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd 
     					http://www.springframework.org/schema/mvc 	http://www.springframework.org/schema/mvc/spring-mvc.xsd ">


	<jpa:repositories base-package="com.admin.portal.Repository" />
	<context:property-placeholder location="classpath*:*.properties" />

	<mvc:annotation-driven />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"	destroy-method="close">
		<property name="driverClassName" value="${dataSource.driverClassName}"></property>
		<property name="url" value="${dataSource.url}"></property>
		<property name="username" value="${dataSource.username}"></property>
		<property name="password" value="${dataSource.password}"></property>	
		<property name="initialSize" value="${dataSource.initialSize}"></property>
		<property name="maxActive" value="${dataSource.maxActive}"></property>
		<property name="maxIdle" value="${dataSource.maxIdle}"></property>
		<property name="validationQuery" value="${dataSource.validationQuery}">	</property>
		<property name="testOnBorrow" value="true"></property>
		<property name="testOnReturn" value="false"></property>	
	</bean>
	
	<bean class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" id="entityManagerFactory">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.admin.portal.Model" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>
		<property name="jpaProperties">
			<props>
				<!--  <prop key="hibernate.hbm2ddl.auto">create</prop>  -->
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<!-- <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop> -->
			</props>
		</property>
	</bean>

<tx:annotation-driven/>
<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
</bean>


 <bean  class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"	/>

</beans>